@import '../variables.scss';
$titleSize: 6em;
$diamondSize: $titleSize * 5;
.landing {
	background-image: url('./texture2.png');
	background-repeat: repeat;
	background-color: $blue;
	color: $gold;

	display: flex; 
	justify-content: center;
	align-items: center;	
	@include mobile { font-size: 0.5em; }
	
	.titleContainer {
		position: relative;
		display: flex; 
		align-items: center;
		justify-content: center;
		.diamond {
			position:absolute;
			width: $diamondSize;
			height: $diamondSize;
			transform: rotate(45deg);
			border: solid 1px rgba($gold, 0.5);
			
			&:first-child {
				border: solid 5px $gold;
				display: flex;
				align-items: center;
			}
			&:nth-child(2) {
				width: $diamondSize * 1.15;
				height: $diamondSize * 1.15;
			}
			&:nth-child(3) {
				width: $diamondSize * 0.6;
				height: $diamondSize * 0.6;
			}
			&:nth-child(4) {
				width: $diamondSize * 0.4;
				height: $diamondSize * 0.4;
			}
		}

	}
	.title {
		z-index: 1;
		font-size: $titleSize;
		text-transform: uppercase;
		
		-webkit-text-fill-color: transparent; 
		background: linear-gradient(to left, lighten($gold, 20%) 10%, $gold 20%, lighten($gold, 20%) 70%,  lighten($gold, 40%) 100%);
		background-size: 200% auto;
		-webkit-background-clip: text;
		transition: 0.4s all;
		&:hover {
			background-position: 200% 40%;
			text-shadow: 0 0 1em rgba($gold, 0.6);
		}
	}
}