@import '../variables.scss';

.landing {
	background-color: $white;
	color: $black;

	display: flex;
	justify-content: center;
	align-items: center;

	@include mobile {
		flex-direction: column;
	}
	.about, .image {
		margin: 0 1vw;
	}
	.image {
		width: 60vw;
		height: auto;
		@include mobile { width: 80vw; }
	}
	.about{
		position: relative;
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 3vw;

		.title, .tagline, .button {
			@include mobile {
				text-align: center;
				justify-self: center;
			}
		}

		.title, .tagline {
			margin: 0.1vw 0;
		}
		.title, .button {
			text-transform: uppercase;
			letter-spacing: $letterSpaceDesktop;
		}
		.title {
			align-self: center;
			z-index: 1;
			font-size: 4vw;
			transition: 0.4s all;
			@include mobile { font-size: 8vw; }
		}
		.tagline {
			color: $gray;
			line-height: 2;
			width: 25vw;
			@include mobile {
				line-height: 2;
				width: 100%;
			}
		}
		.button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 5.5vw;
			width: 16vw;

			background-color: $black;
			color: $white;
			letter-spacing: $letterSpaceDesktop;

			cursor: pointer;

			@include mobile {
				height: 20vw;
				width: 50vw;
			}

			&:hover {
				background-color: lighten($black, 10%);
			}
		}

	}

}
