@import '../variables.scss';

.services {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	.content{
		display: grid;
		grid-template-rows: 1fr;

		.service {
			align-self: center;
			display: grid;
			align-items: center;
			grid-gap: 5vw;
			position: relative;
			height: 80vh;
			width: 100vw;
			padding: 0 7vh;

			@include mobile {
				display: flex;
				flex-direction: column;
				height: 60vh;
				padding: 1vw
			}

			.about, .image {
				width: 100%;
				height: 35vw;
			}
			.image {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					height: 100%;
					// box-shadow: 0.1em 0.2em 0.5em 0 $shadowDark;
				}
				@include mobile { display: none; }
			}
			.about {
				display: grid;
				grid-template-rows: 2fr 2fr 1fr;
				@include mobile { align-items: center; }
				&>* {
					@include mobile {
						justify-self: center;
						text-align: center;
					}	
				}
				.title, .button {
					text-transform: uppercase;
					letter-spacing: $letterSpaceDesktop;
					font-weight: bold;
				}
				.title {
					letter-spacing: $letterSpaceDesktop * 1.1;
					align-self: end;
					@include mobile { align-self: center; }
				}
				.description {
					align-self: center;
					color: $gray;
					line-height: 2;
					width: 25vw;
					letter-spacing: $letterSpaceDesktop / 2;

					@include mobile { width: 100%; }
				}
				.button {
					display: flex;
					justify-content: center;
					align-items: center;
					border: solid 2px $black;
					width: 15vw;
					height: 5vw;
					transition: 0.3s all;
					cursor: pointer;

					@include mobile {
						width: 50vw;
						height: 20vw;
						text-align: center;
						margin-top: 5vw;
					}

					&:hover {
						background-color: $black;
						color: $white;
					}
				}
			}
		}
	}
}
