@import url('https://fonts.googleapis.com/css?family=Adamina|Open+Sans');

@import './variables.scss';

* {
	box-sizing: border-box;
}

html, body, #root, .main, .section {
	width: 100%;
	margin: 0;
}
html, body, #root, .main {
	height: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.05em;
	background-color: $white;

	h1 {
		font-family: 'Adamina', serif;
		font-weight: normal;
		font-size: 3em;
		text-transform: uppercase;
	}
	a {
		text-decoration: none;
	}
	.section {
		min-height: 100vh;
		padding: 2vw;
		overflow: hidden;
	}
}