@import url('https://fonts.googleapis.com/css?family=Adamina|Open+Sans');

@import './variables.scss';

* {
	box-sizing: border-box;
}

html, body, #root, .main, .section {
	width: 100%;
	margin: 0;
}
html, body, #root, .main {
	height: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	background-color: $white;
	color: $black;
	@include mobile {
		font-size: 4vw;
	}

	h1 {
		font-weight: normal;
		font-size: 3em;
		text-transform: uppercase;
		letter-spacing: $letterSpaceDesktop;

		@include mobile { font-size: 2em; }
	}
	a {
		text-decoration: none;
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 14.5vw;
		height: 4.5vw;
		text-align: center;
		cursor: pointer;
		transition: 0.3s all;

		@include mobile {
			height: 20vw;
			width: 50vw;
		}

	}
	.section {
		min-height: 100vh;
		padding: 2vw;
		overflow: hidden;
	}
}