@import '../variables.scss';

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 99;
	
	min-height: 50px;
	height: 7vw;
	min-height: 60px;
	max-height: 90px;
	width: 100%;
	padding: 0 1vw;

	letter-spacing: 0.2vw;
	font-weight: bold;

	background-color: $white;
	color: $black;
	box-shadow: 0 0.1em 0.4em 0 $shadow;
	
	@include mobile {
		justify-content: center;
		letter-spacing: 0vw;
		font-size: 0.9em;
	}	

	.home {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $black;
		text-transform: uppercase;
		cursor: pointer;

		@include mobile { display: none; }
	}
	.links {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 3vw;
		height: 60%;

		@include mobile { height: 80%; }
		.link {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: relative;

			padding: 0 3vw;
			
			text-transform: uppercase;
			
			transition: 0.4s all;
			
			&:not(:last-child) {
				&:before, &:after {
					content: '';
					transition: inherit;
					position: absolute;
					height: 0.1em;
					width: 0%;
				}
				&:before {
					left: 0;
					bottom: 0;
				}
				&:after {
					right: 0;
					top: 0;
				}
				&:hover {
					&:before, &:after {
						width: 100%;
					}
				}
			}
			&:last-child {
				border: solid 2px $black;
				&:hover {

					background-color: $black;
					color: $white;
					box-shadow: 0.2em 0.2em 0.5em 0 $shadowDark;
				}
			}
		}
	}
}